.forma {
    background-color: honeydew;
    display: grid;
    grid-row-gap: 20px;

    grid-gap: 10px;
    width: 320px;
}

.form__items {
    width: 300px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #8c8c8c;

}
.forma__p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;

}
.summa-container {
    width: 150px;
    background-color: rgb(41, 121, 41);
    color: white;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 5px;
}

.Calc {
    background-color: rgb(41, 121, 41);
    color: white;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 5px;

}

.calc-container {
    width: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 5px;
}

fieldset {
    width: 270px;
    border: 1px solid gray;
    border-radius: 5px;
}
